
.container-sign{
    width:400px;
    border:1px solid black;
    background-color: #FFFFFF;
    position:absolute;
    /* opacity: 1; */
    top: 59px;
    left: 565px;
   display:none;
}

.icon-close{
    position: absolute;
    top: 13px;
    right: 14px;
    font-size: 33px;
}


.box-sign{
    width:80%;
    margin: 0 auto;
}
.box-sign h1{
    margin:20px 0 ;
}

.box-gg{
    border:1px solid black;
    display:flex;
    justify-content:center;
    padding: 8px 0;
    font-size: 17px;
    align-items: center;
    border-radius:7px;
}
.box-gg h3{
    margin-left:5px;
}
hr {
    margin:20px 0 ;
}

form input {
    display:block;
    width:100%;
    padding:7px 0 7px 10px;
    margin:8px 0;
    border-radius:7px;
}

.box-sign > p, 
.box-sign > h3 {
    text-align: center;
}

.box-sign > h3 {
    margin:13px 0;
}

.remember {
    font-size:19px;
}

input[type="checkbox"]{
    display:inline;
    /* width:initial; */
    width:18px;
    height:16px;
}

input[type="submit"]{
    padding:13px 0 13px 10px;
    background-color: #006ACB;
    font-size:20px;
    font-weight: 400;
    color:#fff;
}

.bgr-black{
    width:100vw;
    height:100vh;
    background-color:black;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: none;
}

.render-box{
    display: block;
    z-index: 2;
}

.opacity-p {
    z-index: 1;
}

.hidden-box {
    display: none;
}

html{
    width: 100%;
    height: 100%;
    background: linear-gradient(#839ef5,#DFE7FC);
}