*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.header{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    background-color: red;
    align-items: center;
}
.header1 img{
    width: 200px;
    height: 40px;
}
input{
    margin-top: 5px;
    width: 400px;
    height: 30px;
}
.head p{
    margin-left: 10px;
}
.header3 img{
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

/* nav */

.nav > ul{
    display:flex;
    list-style: none;
    background-color: #000;

}
.main-nav > li > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 16px;

    display: block;
    
}
.main-nav li:hover a{
    background-color: #ff3399;
    color: #ccc;
}
.main-nav li:hover .sub-nav{
    opacity: 1;
    visibility: visible;
}
.sub-nav{
    position: absolute;
    border: 1px solid black;
    border-top: none;
    padding: 12px;
    opacity: 0;
    visibility: hidden;
}
.content-sub{
    display: flex;
}
.sub-nav img{
    width: 100px;
    margin-right: 12px;
}
.sub-nav .text-sub{
    margin-top:24px;
}
.sub-nav .text-sub p{
    color: red;
}

/* contern */
.content{
    border:5px solid #333;
}

.content1{
    display: flex;
    justify-content: space-between;
}

.content1 h1{
    padding:9px 20px;
    background-color: yellow;
}

.qqqq1 span{
    padding : 2px 10px 5px 10px;
    font-size: 20px;
}

.content2{
    display: flex;
    /* flex-wrap: wrap; */
}

.cont21{
    display: flex;
    flex-wrap: wrap;
    width:23%;
    text-align: center;
}

.cont21 .box{
    width:47%;
    height:200px;

}
.cont21 .box img{
   width:100%;
}
.cont21 .box p{
   font-size: 20px;
}

.cont22{
    display: flex;
    width:77%;
    text-align: left;
}

.cont22-box{
    width:25%;
    border:1px solid #333;
    height:600px;
}

.cont22-box img{
    width:100%;
    margin-top:100px;
}

.cont22-box p{
    font-size: 20px;
}

.contt22-icon{
    display: flex;
    justify-content: space-around;
}

.hover-pppp {
    border-bottom: 1px solid #333;
    padding:10px 0;
}
.hover-pppp:hover {
    color:red;
}
